# Python bytecode
__pycache__/
*.pyc

# Environment folders
.env
venv/
.venv/
env/

# IDE and OS specific
.vscode/
.DS_Store

# Project-specific folders for generated content
# These folders will contain user-uploaded images and generated puzzle pieces,
# which should not be tracked by Git.
uploads/
output/
images/ 

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov/